.body {
  display: flex;
}

.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
}

.border-left {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
}

.border-right {
  width: 80px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 580px;
}

.border-top {
  width: 660px;
  height: 50px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -50px;
  left: -60px;
}

.sky {
  background-image: url("./img/sky.png");
  width: 500px;
  height: 580px;
  position: absolute;
}

.ground {
  background-image: url("./img/ground.png");
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
  z-index: +1;
}

.bird {
  background-image: url("./img/flappy-bird.png");
  position: absolute;
  width: 60px;
  height: 45px;
  border-radius: 50%;
  left: 220px;
  bottom: 100px;
}

.obstacle {
  background-image: url("./img/pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle {
  background-image: url("./img/pipe.png");
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

.start-sign {
  background: url("./img/start-sign.png") 0px 0px no-repeat;
  background-size: 490px;
  width: 400px;
  height: 70px;
  position: absolute;
  top: 275px;
  left: 50px;
  z-index: +3;
}

.gameOverAlert {
  background: url("./img/game-over.png") 0px 0px no-repeat;
  background-size: 300px;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 250px;
  left: 100px;
  z-index: +6;
  display: none;
}

.score-sign {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: white;
  width: 272px;
  height: 35px;
  position: absolute;
  top: 355px;
  left: 117px;
  z-index: +6;
  display: none;
}